name: Test

on:
  push:
    branches:
      - main
    paths:
      - 'pkg/**'
      - '*.go'
      - 'go.*'
      - '.github/workflows/test.yaml'
  pull_request:
    paths:
      - 'pkg/**'
      - '*.go'
      - 'go.*'
      - '.github/workflows/test.yaml'

env:
  GO_VERSION: "1.20"

jobs:
  unit-tests:
    name: 'Unit tests'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - id: go-cache-paths
        run: |
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT

      # Cache go mod cache to speedup deps downloads
      - uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-mod-

      - name: 'Run unit tests'
        run: |
          make test
